<!DOCTYPE html>
<html>
<head>
    <meta content=
    "width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"
    name="viewport"><!-- Latest compiled and minified CSS -->
    <link href=
    "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel=
    "stylesheet">

    <title><%= title %></title>
    <link href='/stylesheets/theme.css' rel='stylesheet'>
    <link href='/stylesheets/style.css' rel='stylesheet'>
    <link href='/stylesheets/button.css' rel='stylesheet'>
</head>

<body>
    <h2 id="iphone">STATE: <span class="deg"></span></h2>

    <h4>acceleration</h4>

    <p>x: <span id='x'></span></p>

    <p>y: <span id='y'></span></p>

    <p>z: <span id='z'></span></p>

    <h4>accelerationIncludingGravity</h4>

    <p>xg: <span id='xg'></span></p>

    <p>yg: <span id='yg'></span></p>

    <p>zg: <span id='zg'></span></p>

    <h4>rotationRate</h4>

    <p>a: <span id='a'></span></p>

    <p>b: <span id='b'></span></p>

    <p>g: <span id='g'></span></p><br>
    <br>
    <button class="btn" id="led">All ON</button> <button class="btn" id=
    "led-off">All OFF</button>

    <button class="btn" id="pattern-btn">Switch pattern</button><br>
    <br>
    <br>
    <script src=
    "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> <!-- Latest compiled and minified JavaScript -->
     <script src=
    "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/jquery.ios-shake.js"></script>
</body>
</html>